body {
  margin: 12px;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
.container {
  width: fit-content;
  border-radius: 30px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(
    115.7deg,
    rgb(132, 222, 255) 7.6%,
    rgb(8, 30, 64) 99.8%
  );
}
.search-button {
  text-align: center;
}
.row {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  font-weight: bold;
}
.city {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.date {
  font-weight: bolder;
  font-size: 16px;
}
.weather-icon {
  width: 200px;
  margin: -42px -14px;
  position: relative;
}
.temperature {
  font-weight: bolder;
  font-size: 40px;
  position: relative;
  top: -30px;
  left: -40px;
}
.units {
  position: relative;
  top: -40px;
  left: -30px;
}
.weather-description {
  font-weight: bolder;
  font-size: 25px;
  position: relative;
  top: 30px;
  left: 10px;
}
.day-summary {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  width: 100%;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.day-summary-label {
  color: rgba(255, 255, 255, 0.6);
}
.day-summary-value {
  margin-top: 10px;
  font-size: 18px;
}
.footer {
  text-align: center;
  font-style: italic;
  font-family: monospace;
  color: black;
  font-size: 16px;
}
